.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fafafa;
  margin-bottom: 10px;
  padding-bottom: 20px;
}

.logo {
  color: tomato;
}

.navBar nav {
  display: flex;
  gap: 5px;
}

.navBar nav a {
  padding: 10px;
  
}

.navBar nav a:hover {
  background-color: #746767;
  color: #000;
}

a {
  text-decoration: none;
  color: #746767;
}